
<div class="logo-search">
      <img src="logo.png" alt="SkillSync Logo" class="logo" />
      <input type="text" class="search-input" placeholder="Search jobs..." />
    </div>
    <nav class="nav">
      <a href="/">Dashboard</a>
      <a href="../../modules/skillTracker/JobSkillPathGenerator.html">Skill Tracker</a>
      <a href="../../modules/search/livejobsearch.html">Courses</a>
      <a href="#">Score</a>
      <a href="../../modules/search/livejobsearch.html">Job Hunt</a>
    </nav>
    
    <button class="hamburger" id="hamburger">&#9776;</button>
    <nav class="mobile-nav" id="mobile-nav">
    <a href="/">Dashboard</a>
    <a href="../../modules/skillTracker/JobSkillPathGenerator.html">Skill Tracker</a>
    <a href="../../modules/search/livejobsearch.html">Courses</a>
    <a href="#">Score</a>
    <a href="../../modules/search/livejobsearch.html">Job Hunt</a>
  </nav>

    